USE [master]
GO
/****** Object:  Database [MobLab]    Script Date: 21. 10. 2025. 23:36:45 ******/
CREATE DATABASE [MobLab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobLab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MobLab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobLab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MobLab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobLab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobLab]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NULL,
	[ImageID] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[YearFounded] [int] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[CarrierID] [int] IDENTITY(1,1) NOT NULL,
	[CarrierName] [nvarchar](100) NULL,
	[ShippingCost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [int] NULL,
	[VersionID] [int] NULL,
	[Quantity] [int] NULL,
	[LastUpdated] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[VersionID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderDate] [date] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[PaymentDate] [date] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Amount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Display] [nvarchar](50) NULL,
	[Battery] [nvarchar](50) NULL,
	[Camera] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NULL,
	[ModelName] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVersions]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVersions](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ImageID] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Storage] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[UserID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[ShippingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[CarrierID] [int] NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Subject] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[SurfaceArea] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 21. 10. 2025. 23:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[DateAdded] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName], [ImageID], [Country], [YearFounded], [Description]) VALUES (1, N'Apple', 1, N'USA', 1976, N'Premium smartphones and electronics')
INSERT [dbo].[Brands] ([BrandID], [BrandName], [ImageID], [Country], [YearFounded], [Description]) VALUES (2, N'Samsung', 2, N'South Korea', 1938, N'Global electronics leader')
INSERT [dbo].[Brands] ([BrandID], [BrandName], [ImageID], [Country], [YearFounded], [Description]) VALUES (3, N'Xiaomi', 3, N'China', 2010, N'Affordable smartphones with high specs')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Carriers] ON 

INSERT [dbo].[Carriers] ([CarrierID], [CarrierName], [ShippingCost]) VALUES (1, N'DHL', CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Carriers] ([CarrierID], [CarrierName], [ShippingCost]) VALUES (2, N'FedEx', CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[Carriers] ([CarrierID], [CarrierName], [ShippingCost]) VALUES (3, N'BH Pošta', CAST(10.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Carriers] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ImageID], [ImagePath]) VALUES (1, N'/assets/images/brands/apple.jpg')
INSERT [dbo].[Images] ([ImageID], [ImagePath]) VALUES (2, N'/assets/images/brands/samsung.jpg')
INSERT [dbo].[Images] ([ImageID], [ImagePath]) VALUES (3, N'/assets/images/brands/xiaomi.jpg')
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryID], [WarehouseID], [VersionID], [Quantity], [LastUpdated]) VALUES (1, 1, 1, 25, CAST(N'2025-09-18' AS Date))
INSERT [dbo].[Inventory] ([InventoryID], [WarehouseID], [VersionID], [Quantity], [LastUpdated]) VALUES (2, 2, 3, 30, CAST(N'2025-09-18' AS Date))
INSERT [dbo].[Inventory] ([InventoryID], [WarehouseID], [VersionID], [Quantity], [LastUpdated]) VALUES (3, 3, 4, 40, CAST(N'2025-09-18' AS Date))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [VersionID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, CAST(1899.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [VersionID], [Quantity], [UnitPrice]) VALUES (2, 2, 3, 1, CAST(1599.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [VersionID], [Quantity], [UnitPrice]) VALUES (3, 3, 4, 1, CAST(1199.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status]) VALUES (1, 2, CAST(N'2025-09-20' AS Date), CAST(1899.99 AS Decimal(10, 2)), N'Delivered')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status]) VALUES (2, 2, CAST(N'2025-09-21' AS Date), CAST(1599.99 AS Decimal(10, 2)), N'Processing')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status]) VALUES (3, 2, CAST(N'2025-09-22' AS Date), CAST(1199.99 AS Decimal(10, 2)), N'Cancelled')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount]) VALUES (1, 1, CAST(N'2025-09-20' AS Date), N'Credit Card', CAST(1899.99 AS Decimal(10, 2)))
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount]) VALUES (2, 2, CAST(N'2025-09-21' AS Date), N'PayPal', CAST(1599.99 AS Decimal(10, 2)))
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount]) VALUES (3, 3, CAST(N'2025-09-22' AS Date), N'Cash', CAST(1199.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([DetailID], [ProductID], [Display], [Battery], [Camera]) VALUES (1, 1, N'6.7" OLED', N'3200 mAh', N'48 MP')
INSERT [dbo].[ProductDetails] ([DetailID], [ProductID], [Display], [Battery], [Camera]) VALUES (2, 2, N'6.8" AMOLED', N'4000 mAh', N'108 MP')
INSERT [dbo].[ProductDetails] ([DetailID], [ProductID], [Display], [Battery], [Camera]) VALUES (3, 3, N'6.6" AMOLED', N'4500 mAh', N'50 MP')
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [BrandID], [ModelName], [Price]) VALUES (1, 1, N'iPhone 15 Pro', CAST(1899.99 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [BrandID], [ModelName], [Price]) VALUES (2, 2, N'Samsung Galaxy S24', CAST(1599.99 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [BrandID], [ModelName], [Price]) VALUES (3, 3, N'Xiaomi 14 Ultra', CAST(1199.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVersions] ON 

INSERT [dbo].[ProductVersions] ([VersionID], [ProductID], [ImageID], [Color], [Storage]) VALUES (1, 1, 5, N'Silver', N'256 GB')
INSERT [dbo].[ProductVersions] ([VersionID], [ProductID], [ImageID], [Color], [Storage]) VALUES (2, 1, 6, N'Gold', N'512 GB')
INSERT [dbo].[ProductVersions] ([VersionID], [ProductID], [ImageID], [Color], [Storage]) VALUES (3, 2, 7, N'Black', N'512 GB')
SET IDENTITY_INSERT [dbo].[ProductVersions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [Comment]) VALUES (1, 1, 2, 5, N'Odličan telefon, vrijedi svake marke.')
INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [Comment]) VALUES (2, 2, 2, 4, N'Vrlo brz, ali baterija bi mogla biti bolja.')
INSERT [dbo].[Reviews] ([ReviewID], [ProductID], [UserID], [Rating], [Comment]) VALUES (3, 3, 2, 5, N'Najbolji omjer cijene i performansi.')
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([ShippingID], [OrderID], [CarrierID], [Address], [City], [Status]) VALUES (1, 1, 1, N'Zmaja od Bosne 45', N'Sarajevo', N'Delivered')
INSERT [dbo].[Shipping] ([ShippingID], [OrderID], [CarrierID], [Address], [City], [Status]) VALUES (2, 2, 2, N'Bulevar Meše Selimovića 22', N'Tuzla', N'Processing')
INSERT [dbo].[Shipping] ([ShippingID], [OrderID], [CarrierID], [Address], [City], [Status]) VALUES (3, 3, 3, N'Aleja Bosne Srebrene 12', N'Mostar', N'Cancelled')
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportTickets] ON 

INSERT [dbo].[SupportTickets] ([TicketID], [UserID], [Subject], [Description], [Status]) VALUES (1, 2, N'Order Issue', N'Paket nije stigao na vrijeme.', N'Closed')
INSERT [dbo].[SupportTickets] ([TicketID], [UserID], [Subject], [Description], [Status]) VALUES (2, 2, N'Refund Request', N'Želim povrat novca za narudžbu br. 3.', N'Pending')
INSERT [dbo].[SupportTickets] ([TicketID], [UserID], [Subject], [Description], [Status]) VALUES (3, 2, N'Account Problem', N'Ne mogu se prijaviti u nalog.', N'Resolved')
SET IDENTITY_INSERT [dbo].[SupportTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [RoleID]) VALUES (1, N'Admin', N'tcovcic@gmail.com', N'admin123', 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [RoleID]) VALUES (2, N'Tarik Covcic', N'tarik0803002@gmail.com', N'user123', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseID], [WarehouseName], [City], [SurfaceArea]) VALUES (1, N'Sarajevo Central Warehouse', N'Sarajevo', 500)
INSERT [dbo].[Warehouses] ([WarehouseID], [WarehouseName], [City], [SurfaceArea]) VALUES (2, N'Tuzla Warehouse', N'Tuzla', 300)
INSERT [dbo].[Warehouses] ([WarehouseID], [WarehouseName], [City], [SurfaceArea]) VALUES (3, N'Mostar Warehouse', N'Mostar', 400)
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [DateAdded]) VALUES (1, 2, 1, CAST(N'2025-09-10' AS Date))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [DateAdded]) VALUES (2, 2, 3, CAST(N'2025-09-11' AS Date))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [DateAdded]) VALUES (3, 2, 2, CAST(N'2025-09-12' AS Date))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349FDAAA6D]    Script Date: 21. 10. 2025. 23:36:46 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands]  WITH CHECK ADD FOREIGN KEY([ImageID])
REFERENCES [dbo].[Images] ([ImageID])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([VersionID])
REFERENCES [dbo].[ProductVersions] ([VersionID])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([VersionID])
REFERENCES [dbo].[ProductVersions] ([VersionID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[ProductVersions]  WITH CHECK ADD FOREIGN KEY([ImageID])
REFERENCES [dbo].[Images] ([ImageID])
GO
ALTER TABLE [dbo].[ProductVersions]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([CarrierID])
REFERENCES [dbo].[Carriers] ([CarrierID])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
